@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-gray-100 font-body;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display text-white;
  }
}
